*{
    /* margin: 0; */
    background-color:gainsboro;
    /* box-sizing: border-box; */

    }
    .heading{
        align-items: center;
        text-align: center;
        font-size: 30px;
        line-height: 40px;
    }
     .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        height:40%;
      
     } 
    .grid{
        display:grid; 
        border-radius: 50%;
        grid-template-columns: repeat(4,60px);
        padding: 90px;
        border-radius: 20px;
        }
        input{
            grid-column: span 4;
            height:40px;
            width: 210px;
            text-align: end;
            background-color:darksalmon;
            border-radius: 10px;
            border: none;
            margin: auto;
            padding: 10px;
            font-size: 30px;
            font-weight: bold;
            
        }
         button{
            height: 40px;
            width: 40px;
            border-radius: 30%;
            margin: 5px;
            font-size: 15px;
            font-weight: bold;
            background-color: aqua;
        } 
        button:hover
        {
            background-color: darkgray;
        }
        .equal{
            width:100px;
            border-radius: 30px;
        }
      
    
      